.widget_rss ul {
	list-style: none;
	margin: 0;
}

.widget_rss li {

}

.widget_rss ul:last-child,
.widget_rss li:last-child {
	margin-bottom: 0;
}

.widget_rss .rsswidget {
	border: 0;
	font-weight: 700;
}

.widget_rss .rsswidget img {
	margin-top: -4px;
}

.widget_rss .rss-date,
.widget_rss cite {
	font-style: normal;
	display: block;
	opacity: 0.8;
}